@model PlanItUp.Models.ViewModels.Evento
@{
    ViewData["Title"] = "Detalle del Evento";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb-container">
        </ol>
    </nav>
    <h2 class="my-4">@Model.NombreEvento</h2>
    <div class="row">
        <div class="col-md-6">
            @* <img src="@Model.Imagen" class="img-fluid" alt="Imagen del evento" /> *@
        </div>
        <div class="col-md-6">
            <h4>Organizador: @ViewBag.OrganizadorNombre</h4>
            @* <p>@Model.Descripcion</p> *@
           @*  <p>Fecha de inicio: @Model.FechaInicio.ToString("dd/MM/yyyy")</p>
            <p>Fecha de fin: @Model.FechaFin.ToString("dd/MM/yyyy")</p>
            <p>Ubicación: @ViewBag.DireccionNombre</p>
            <p>Precio total: @String.Format("{0:C}", Model.PrecioTotal)</p> *@

            @if (!Model.Confirmada)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fas fa-exclamation-circle"></i> Evento no confirmado
                </div>
            }
            else
            {
                <form method="post" action="@Url.Action("InscribirEvento", "Evento")" class="d-flex">
                    <input type="hidden" name="id" value="@Model.IdEvento" />
                    <input type="number" class="form-control mr-2" name="cantidad" value="1" min="1" max="10" />
                    <button type="submit" class="btn btn-outline-primary rounded-pill">
                        <i class="fas fa-ticket-alt"></i> Inscribirse
                    </button>
                </form>
            }
        </div>
    </div>
</div>

@{
    string? controllerName = Context.GetRouteValue("controller") as string;
    string? actionName = Context.GetRouteValue("action") as string;
}

<script>
    var controllerName = '@controllerName';
    var actionName = '@actionName';
</script>